html, body, #root, .App {
  /* overflow: hidden; */
  /* height: 100vh; */
}

.mapboxgl-ctrl-top-right {
  right: 15rem;
}

.map-container {
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
}

.mapboxgl-canvas, .mapboxgl-map, .map-container, .container {
  height: 100vh !important;
  width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
}

.location-prompt {
  font-size: 2em;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 12px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 6rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.step-counter {
  font-size: 2em;
  background-color: rgba(213, 214, 214, 0.606);
  color: #fff;
  /* padding: 12px 12px; */
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  /* right: 33%; */
  /* margin: 12px; */
  /* border-radius: 4px; */
}

.form-button {
  z-index: 1;
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* .mapboxgl-marker {
  z-index: 1;
} */

/* #geocoder {
  position: relative;
  width: 30%;
  left: 50%
} */

/* .mapboxgl-control-container {
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  width: 10%;
  max-width: 1080px;
} */

/* #geocoder-container > div {
  min-width: 50%;
  margin-left: 25%;
  } */