/* html, body, #root, .App {
  overflow: hidden;
  height: 100vh;
} */

.mapboxgl-ctrl-top-right {
  right: 15rem;
}

.map-container {
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
}

.mapboxgl-canvas, .mapboxgl-map, .map-container, .container {
  height: 100vh !IMPORTANT;
  width: 100vw !IMPORTANT;
  padding: 0 !IMPORTANT;
}
/* .sidebar {
  font-size: 2em;
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 12px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content */
  /* right: 33%; */
  /* margin: 12px; */
  /* border-radius: 4px;
} */

/* .mapboxgl-marker {
  z-index: 1;
} */

/* #geocoder {
  position: relative;
  width: 30%;
  left: 50%
} */

/* .mapboxgl-control-container {
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  width: 10%;
  max-width: 1080px;
} */

/* #geocoder-container > div {
  min-width: 50%;
  margin-left: 25%;
  } */