/* Basic styling */

:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);

}

html {
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}