/* Basic styling */

:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);
  background-image: url("../assets/homePage3.jpg");
}

html {
  overflow: hidden;
}



body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}