.dashboard-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-container-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.css-et1ao3-MuiTypography-root {
  font-size: 1rem !important;
}

.css-hfp5r4-MuiList-root {
  // width: 30vw;
  // height: 390.5px;
  box-shadow: 2px 2px 7px 0px rgb(166, 166, 166) !important;
  background-color: #F3F5FA !important;
  margin: 2rem 0 !important;
  margin-right: 1rem !important;
  border-radius: 5px !important;
}

.css-1pqm26d-MuiAvatar-img {
  height: 2.8rem !important;
}

.css-1m4u3pv-MuiButtonBase-root-MuiListItemButton-root {
  margin: 0.4rem !important;
}

.css-1nxmd3h-MuiListItem-root {
  margin-top: 0.7rem !important;
  margin-bottom: 0.7rem !important;
}