.current-weather{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 170px;
  padding: 1.8rem;
  padding-bottom: 0.6rem;
  font-size: 14px;

  &-temp{
      font-size: 3.5rem;
      font-weight: bold;
  }

  &-day{
      padding-top: 1rem;
      font-size: 1rem;
      margin-bottom: 0.8rem;
  }

  & img{
      width: 85px;
      margin-top: 17px;
  }

  &-status{
      font-size: 1.4rem;
      font-weight: 500;
      margin-top:51px;
      margin-left: -42.5px;
  }

  @media screen and (max-width:900px){
      padding: 8.5px;

      &-day, &-status{
          font-size: 12px;
      }

      &-temp{
          font-size: 25.5px;
      }

      & img{
          width: 55px;
      }
      width: auto;
        height: auto;
  }

}