.weather-app {
    width: 535.5px;
    height: 390.5px;
    border: 1px solid #000000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    right: 5rem;
    bottom: 2rem;
    &-home, &-error{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 900px) {
        width: auto;
        height: auto;
    }
}
.weather-cards {
    display: flex;

    & > div {
        display: flex;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
